{% for interface in interfaces %}
{% if interface['subint'] is defined %}
{% for vlan in interface['subint']['vlans'] %}
interface {{ interface['eos_if'] }}.{{ vlan }}
 encapsulation dot1q vlan {{ vlan }}
{% endfor %}
{% endif %}
{% endfor %} 
